# Pandas

In [2]:
import pandas as pd

(Tip: make your own list of common pieces of code and syntax so you can easily refer to it, like a cheat sheet.)

https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

## Creating a variable for a file as a dataframe

The two pieces of code below each have an error.

In [8]:
checkouts_df = read_csv('seattle_checkouts.tsv')

In [7]:
checkouts_df = pd.read_csv('seattle_checkouts.tsv')

## Selecting Columns

In [25]:
checkouts_df

Correct the error below.

In [24]:
checkouts_df[["checkouts", "creator"]]

## Counting values in a dataframe

Modify the line below to find the 10 most common publication years among the items checked out.

In [21]:
nyt_df['title'].value_counts()

## Using `.describe()`

Try to interpret what each of the rows in the table means.

In [20]:
checkouts_df.describe(include="all")

How does the output differ when using different parameters?

In [17]:
checkouts_df[:10]

In [18]:
checkouts_df.describe(include="object")

In [19]:
checkouts_df.describe(include="int64")

In [ ]:
# What if I try this?
checkouts_df.describe(include="Creator")

### Data types in Pandas

| Python         | Pandas             |
|----------------|--------------------|
|String (`str`)  | Object (`object`)  |
|Integer (`int`) | Int64 (`int64`)    |
|Float (`float`) | Float64 (`float64`)|
|List (`list`)   |$\approx$ Series (`Series`)   |
|                |DataFrames (`DataFrame`)|

## Filtering data

Modify the line below to get a data frame containing only the entries with books by Geronimo Stilton and store the result in a variable called `stilton_df`

In [29]:
nyt_df[nyt_df['author'] == 'Toni Morrison']